#page-landing {
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
    /*Passando argumentos*/
    text-align: center;
    min-height: 100vh;
    display: flex;
}


/*Esse margin :auto; só funciona se o #page-landing for do tipo display :flex; , caso contrário, ele só irá alinhar as laterais. */

#container {
    margin: auto;
    width: min( 90%, 112rem);
}

.location,
h1,
.visit p {
    height: 16vh;
}

.visit a {
    width: 8rem;
    height: 8rem;
    background: #ffd666;
    border: none;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: background 200ms;
}

.visit a:hover {
    background: #96feff;
}

#logo {
    animation-delay: 50ms;
}

.location {
    animation-delay: 100ms;
}

main h1 {
    animation-delay: 150ms;
}

.visit p {
    animation-delay: 200ms;
}

.visit a {
    animation-delay: 250ms;
}


/* desktop version */

@media (min-width: 760px) {
    /*Criando uma regra para minimo de 700 px de largura para cima, será aplicado tudo o que estiver dentro dela.*/
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*para trazer um espaço entre eles.*/
    }
    .location,
    h1,
    .visit p {
        height: initial;
        text-align: initial;
    }
    /*Isso faz com que a altura seja volata ao valor inicial antes das alicações de css*/
    .location {
        text-align: right;
    }
    main h1 {
        font-size: clamp(4rem, 8vw, 8.4rem);
        /*Fórmula do próprio css para calcular o min, o padrão e máx.*/
        font-weight: bold;
        width: min(300px, 80%);
    }
}